/* ユーザー情報テーブル */

.user-table {
  tr{
    th{
      vertical-align: middle;
      text-align: center;
    }
  }
}

/* ユーザー勤怠情報テーブル */
#table-attendances {
  th {
    vertical-align: bottom;
    text-align: center;
  }  
  td {
    vertical-align: middle;
    text-align: center;
  }
}


.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* 基本情報編集ページ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
}


/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}


