<% provide(:title, "勤怠ログ") %>
<% provide(:class_text, 'user--edit') %>

<div>
  <h1>勤怠ログ</h1>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      テスト
    </tr>
  </table>
</div>
